# VS & Other .NET Files 
*.swp
*.obj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.orig
[Uu]pgrade[Ll]og*.xml
[Bb]in
[Db]ebug*/
_[Uu]pgrade[Rr]eport_*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
 
*logs*
*logfile*
 
# Files edited by gVim
*.*~